.info-container {
    text-align: center;
    animation: fadeIn 0.8s ease;
}

.info-title {
    font-size: 12px;
    color: #38bdf8;
    margin-bottom: 12px;
}

.info-text {
    font-size: 7px;
    line-height: 1.6;
    color: #bae6fd;
    white-space: pre-line;
    margin-bottom: 20px;
}

.back-btn {
    width: 100%;
    padding: 14px;

    font-family: 'Press Start 2P', cursive;
    font-size: 8px;

    background: #38bdf8;
    color: #082f49;

    border: 3px solid #0ea5e9;
    cursor: pointer;

    box-shadow: 0 5px #0369a1;
}

.back-btn:active {
    transform: translateY(5px);
    box-shadow: 0 0 #0369a1;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
