.level-container {
    text-align: center;
    animation: fadeIn 0.6s ease;
}

.level-title {
    font-size: 12px;
    margin-bottom: 12px;
    color: #22c55e;
}

.story-text {
    font-size: 7px;
    margin-bottom: 10px;
    color: #86efac;
}

.memory-photo {
    width: 60%;
    max-width: 180px;
    margin: 10px auto;
    display: block;
    border: 4px solid #22c55e;
    border-radius: 6px;
    image-rendering: pixelated;
}

.question {
    font-size: 8px;
    margin: 15px 0;
}

/* Botones retro */
.options button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 14px;

    font-family: 'Press Start 2P', cursive;
    font-size: 8px;

    background: #22c55e;
    color: #022c22;

    border: 3px solid #15803d;
    cursor: pointer;

    box-shadow: 0 5px #14532d;
    transition: all 0.1s ease;
}

.options button:hover {
    background: #4ade80;
}

.options button:active {
    transform: translateY(5px);
    box-shadow: 0 0 #14532d;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
