.level-container {
    text-align: center;
    animation: fadeIn 0.6s ease;
}

.level-title {
    font-size: 11px;
    margin-bottom: 12px;
    color: #ef4444;
}

.boss {
    animation: pulse 1s infinite;
}

.story-text {
    font-size: 7px;
    margin-bottom: 10px;
    color: #fca5a5;
}

/* Barra de vida */
.health-bar {
    width: 100%;
    height: 12px;
    border: 2px solid #ef4444;
    margin-bottom: 10px;
}

.boss-health {
    width: 100%;
    height: 100%;
    background: #ef4444;
    animation: healthShake 1s infinite;
}

.memory-photo {
    width: 60%;
    max-width: 180px;
    height: auto;
    border: 4px solid #22c55e;
    margin: 10px auto;
    display: block;
    image-rendering: pixelated;
    border-radius: 6px;
}

.question {
    font-size: 8px;
    margin: 15px 0;
    line-height: 1.6;
}

/* Botones */
.options button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 14px;

    font-family: 'Press Start 2P', cursive;
    font-size: 8px;

    background: #ef4444;
    color: #220202;

    border: 3px solid #7f1d1d;
    cursor: pointer;

    box-shadow: 0 5px #450a0a;
    transition: all 0.1s ease;
    text-transform: uppercase;
}

.options button:hover {
    background: #f87171;
}

.options button:active {
    transform: translateY(5px);
    box-shadow: 0 0 #450a0a;
}

/* Animaciones */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes pulse {
    0% { color: #ef4444; }
    50% { color: #fca5a5; }
    100% { color: #ef4444; }
}

@keyframes healthShake {
    0% { transform: translateX(0); }
    50% { transform: translateX(2px); }
    100% { transform: translateX(0); }
}
